<div class="container">
   
    
    <div class="login-box">
        <h2>HR login form</h2>
      <form >
        <label for="userid">Userid:</label>
        <input type="userid" id="userid" formControlName="userid">
  
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email">
  
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password">
  
        <button type="submit">Login</button>
      </form>
      <div class="registration-link">
        Don't have an account? <a routerLink="/registration">Register here.</a>
      </div>
    </div>
    
    
  </div>
  